.tab {
  font-family: monospace;
}

.alternatives ul {
  list-style-type: none;
}

.nav li {
  padding-right: 1ch;
}

#results[data-favs="True"] .col.rating, #results[data-favs="True"] .col.type {
  display: none;

}